<p>banner works</p>
<ng-container *ngIf="showAd">
    <ins class="adsbygoogle" style="display:block" data-ad-client="banner.adClient" data-ad-slot="banner.adSlot"
        data-ad-format="banner.adFormat" data-full-width-responsive="banner.fullWidthResponsive" data-adtest="on">
    </ins>
    <ins class="adsbygoogle"
        data-adtest="on"
        style="display:block"
        data-ad-format="fluid"
        data-ad-layout-key="-fj+5k+66-cv+1t"
        data-ad-client="banner.adClient"
        data-ad-slot="banner.adSlot"></ins>
</ng-container>